<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SAEDW</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>nathan</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>nathan123</param-value>
  </context-param>
  <context-param>
    <param-name>dbURL</param-name>
    <param-value>jdbc:mysql://localhost:3306/db_saedw</param-value>
  </context-param>
  
  <filter>
    <filter-name>FiltroDeAutenticacao</filter-name>
    <filter-class>com.nathanaellima.controller.filter.FiltroDeAutenticacao</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroDeAutenticacao</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>

	<filter-name>EncodingFilter</filter-name>
	<filter-class>com.nathanaellima.controller.filter.EncodingFilter</filter-class>

	<init-param>
		<param-name>encoding</param-name>
		<param-value>ISO-8859-1</param-value>
	</init-param>

	</filter>

	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  
</web-app>